.emptyTeamSlot {
    align-items: center;
    background-color: #508484;
    border-radius: 1rem;
    color: white;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    height: 100%;
    min-height: 50px;
    min-width: 50px;
    width: auto;
}

@media (min-width: 600px){
    .emptyTeamSlot {
        width: 15%;
    }
}
