.filledTeamSlot {
    align-items: center;
    background-color: #508484;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 80px;
}

.filledTeamSlot:hover {
    background-color: #79C99E;
    transform: scale(1.1);
    transition-duration: 300ms;
}

.filledSlotImage {
    height: 90%;
    width: 90%;
}