.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 0.5rem;
    padding: 1rem;
    width: 90%;
}

.teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.teamsListTitle {
    box-shadow: 0 5px 5px -5px white;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 30%;
}

.TeamsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    width: 100%;
}