.App {
    background-color: black;
    width: 100%;
}

.header {
    align-items: center;
    background-color: black;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    justify-content: flex-start;
    padding: 1rem;

    position: sticky;
    top: 0;
    z-index: 10;
}

.activeLink {
    color: #97db4f;
    font-size: large;
    text-decoration: none;
}

.inactiveLink {
    color: white;
    font-size: medium;
    text-decoration: none;
}

.link:active{
    color: #79C99E;
}

.title {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: bold;
    gap: 0.5rem;
}

.titleLink {
    color: white;
    text-decoration: none;
}

.navBar {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
}







