.Login {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 80vh;
}

.loginConfirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 80vh;

    color: white;
    font-weight: bold;

}

.formRow {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 0.5rem;
    justify-content: space-evenly;
    width: auto;
}

.loginButton {
    background-color: transparent;
    border: 2px solid #97db4f;
    border-radius: 0.5rem;
    color: #97db4f;
    font-size: small;
    font-weight: bold;
    padding: 0 1rem;
}

.loginButton:active{
    transform: scale(1.1);
}

.createButton {
    background-color: transparent;
    border: 2px solid #79C99E;
    border-radius: 0.5rem;
    color: #79C99E;
    font-size: small;
    font-weight: bold;
    padding: 0 1rem;
}

.createButton:active{
    transform: scale(1.1);
}